@inherits LayoutComponentBase
@inject NavigationManager navManager

<div x-data="{ mobileMenuOpen: false }">
	<header class="sticky top-0 z-50 w-full border-b">
		<NavBar />
	</header>
	<div class="container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10" x-data="{ tocOpen: false}" x-cloak>
		<aside :class="mobileMenuOpen ? 'block' : 'hidden'" class="fixed top-14 z-30 -ml-2 bg-white border-r h-[calc(100vh-3.5rem)] max-w-[240px] w-full shrink-0 md:sticky md:block" hx-boost="true">
			<div dir="ltr" class="relative overflow-hidden h-full" style="position: relative;">
				<div class="h-full w-full rounded-[inherit]  py-6 pl-8 pr-6 lg:py-8" style="overflow: hidden scroll;">
					<div style="min-width: 100%; display: table;">
						<div class="w-full">
							<div class="pb-4 md:hidden">
								<div class="grid grid-flow-row auto-rows-max text-sm">
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline" href="/docs/introduction">Documentation</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline" href="/docs/components/typography">Components</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline" href="https://github.com/spark-dotnet/spark.ui" target="_blank">GitHub</a>
								</div>
							</div>
							<div class="pb-4">
								<h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Getting Started</h4>
								<div class="grid grid-flow-row auto-rows-max text-sm">
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("introduction")" href="/docs/introduction">Introduction</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("installation")" href="/docs/installation">Installation</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("component-basics")" href="/docs/component-basics">Component Basics</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("customization")" href="/docs/customization">Customization</a>
								</div>
							</div>
							<div class="pb-4">
								<h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Typography</h4>
								<div class="grid grid-flow-row auto-rows-max text-sm">
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("typography")" href="/docs/components/typography">Example</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("heading1")" href="/docs/components/heading1">Heading 1</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("heading2")" href="/docs/components/heading2">Heading 2</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("heading3")" href="/docs/components/heading3">Heading 3</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("heading4")" href="/docs/components/heading4">Heading 4</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("paragraph")" href="/docs/components/paragraph">Paragraph</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("blockquote")" href="/docs/components/blockquote">Blockquote</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("table")" href="/docs/components/table">Table</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("list")" href="/docs/components/list">List</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("inline-link")" href="/docs/components/inline-link">Inline link</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("inline-code")" href="/docs/components/inline-code">Inline code</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("lead")" href="/docs/components/lead">Lead</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("large")" href="/docs/components/large">Large</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("small")" href="/docs/components/small">Small</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("muted")" href="/docs/components/muted">Muted</a>

								</div>
							</div>
							<div class="pb-4">
								<h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Form</h4>
								<div class="grid grid-flow-row auto-rows-max text-sm">
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("forms")" target="" rel="" href="/docs/components/forms">Example</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("checkbox")" target="" rel="" href="/docs/components/checkbox">Checkbox</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("form-description")" target="" rel="" href="/docs/components/form-description">Form Description</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("inputs")" target="" rel="" href="/docs/components/inputs">Inputs</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("input-group")" target="" rel="" href="/docs/components/input-group">Input Group</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("label")" target="" rel="" href="/docs/components/label">Label</a>
@* 									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/radio-group">Radio Group</a>
 *@									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("select")" target="" rel="" href="/docs/components/select">Select</a>
									@*<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/switch">Switch</a>
									*@
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("textarea")" target="" rel="" href="/docs/components/textarea">Textarea</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("validation-message")" target="" rel="" href="/docs/components/validation-message">Validation Message</a>

								</div>
							</div>
							<div class="pb-4">
								<h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">Components</h4>
								<div class="grid grid-flow-row auto-rows-max text-sm">
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("alerts")" target="" rel="" href="/docs/components/alerts">Alerts</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("avatar")" target="" rel="" href="/docs/components/avatar">Avatar</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("badges")" target="" rel="" href="/docs/components/badges">Badges</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline  @GetActiveCss("breadcrumb")" target="" rel="" href="/docs/components/breadcrumb">Breadcrumb</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("buttons")" target="" rel="" href="/docs/components/buttons">Buttons</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline @GetActiveCss("buttons")" target="" rel="" href="/docs/components/card">Card</a>
									<div class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground cursor-pointer">More coming soon!</div>

									@*                                     <a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/dropdown-menu">Dropdown Menu</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/navigation-menu">Nav Bar</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/separator">Separator</a>
									<a class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground" target="" rel="" href="/docs/components/tooltip">Tooltip</a>
									*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
		<main class="relative py-6 lg:gap-10 lg:py-8 max-w-3xl">
			<div class="mx-auto w-full min-w-0">
				@Body
			</div>
		</main>
	</div>
	<Footer />
</div>

@code {
	public string currentRoute { get; set; } = default!;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		currentRoute = navManager.ToBaseRelativePath(navManager.Uri);
	}

	private string GetActiveCss(string route)
	{
		return currentRoute.Contains(route) ? "font-medium text-foreground" : "text-muted-foreground";
	}
}