@page "/docs/components/alerts"
@layout DocsLayout

<PageTitle>Alert component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Alerts
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Alerts
	</TypographyH1>
	<TypographyLead>
		Displays a callout for user attention
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH2>
		Default
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="DefaultViewer">
		<ComponentPreviewRendered AlpinePropertyName="DefaultViewer">
			<Alert>
			  <IconInfo class="h-4 w-4" />
			  <AlertTitle>Heads up!</AlertTitle>
			  <AlertDescription>
					Donec eu tellus eu urna dignissim iaculis vel eget nisl.
			  </AlertDescription>
			</Alert>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="DefaultViewer">
			<CodeExample>
@($@"<Alert>
	<IconInfo class=""h-4 w-4"" />
	<AlertTitle>Heads up!</AlertTitle>
	<AlertDescription>
		Donec eu tellus eu urna dignissim iaculis vel eget nisl.
	</AlertDescription>
</Alert>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Success
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="SuccessViewer">
		<ComponentPreviewRendered AlpinePropertyName="SuccessViewer">
			<Alert Variant="AlertVariant.Success">
				<IconCheckCircle class="h-4 w-4" />
				<AlertTitle>Heads up!</AlertTitle>
				<AlertDescription>
					Donec eu tellus eu urna dignissim iaculis vel eget nisl.
				</AlertDescription>
			</Alert>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="SuccessViewer">
			<CodeExample>
@($@"<Alert Variant=""AlertVariant.Success"">
	<IconCheckCircle class=""h-4 w-4"" />
	<AlertTitle>Success!</AlertTitle>
	<AlertDescription>
		Donec eu tellus eu urna dignissim iaculis vel eget nisl.
	</AlertDescription>
</Alert>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Info
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="InfoViewer">
		<ComponentPreviewRendered AlpinePropertyName="InfoViewer">
			<Alert Variant="AlertVariant.Info">
				<IconInfo class="h-4 w-4" />
				<AlertTitle>Heads up!</AlertTitle>
				<AlertDescription>
					Donec eu tellus eu urna dignissim iaculis vel eget nisl.
				</AlertDescription>
			</Alert>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="InfoViewer">
			<CodeExample>
@($@"<Alert Variant=""AlertVariant.Info"">
	<IconInfo class=""h-4 w-4"" />
	<AlertTitle>Heads up!</AlertTitle>
	<AlertDescription>
		Donec eu tellus eu urna dignissim iaculis vel eget nisl.
	</AlertDescription>
</Alert>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Warning
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="WarningViewer">
		<ComponentPreviewRendered AlpinePropertyName="WarningViewer">
			<Alert Variant="AlertVariant.Warning">
				<IconAlertTriangle class="h-4 w-4" />
				<AlertTitle>Heads up!</AlertTitle>
				<AlertDescription>
					Donec eu tellus eu urna dignissim iaculis vel eget nisl.
				</AlertDescription>
			</Alert>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="WarningViewer">
			<CodeExample>
@($@"<Alert Variant=""AlertVariant.Warning"">
	<IconAlertTriangle class=""h-4 w-4"" />
	<AlertTitle>Warning!</AlertTitle>
	<AlertDescription>
		Donec eu tellus eu urna dignissim iaculis vel eget nisl.
	</AlertDescription>
</Alert>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Destructive
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="DestructiveViewer">
		<ComponentPreviewRendered AlpinePropertyName="DestructiveViewer">
			<Alert Variant="AlertVariant.Destructive">
				<IconXCircle class="h-4 w-4" />
				<AlertTitle>Danger!</AlertTitle>
				<AlertDescription>
					Donec eu tellus eu urna dignissim iaculis vel eget nisl.
				</AlertDescription>
			</Alert>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="DestructiveViewer">
			<CodeExample>
@($@"<Alert Variant=""AlertVariant.Destructive"">
	<IconXCircle class=""h-4 w-4"" />
	<AlertTitle>Danger!</AlertTitle>
	<AlertDescription>
		Donec eu tellus eu urna dignissim iaculis vel eget nisl.
	</AlertDescription>
</Alert>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>