@page "/docs/components/badges"
@layout DocsLayout

<PageTitle>Badge component for Blazor - spark.ui</PageTitle>

<Breadcrumb>
	<BreadcrumbItem>
		Docs
	</BreadcrumbItem>
	<ChevronRight class="h-4 w-4" />
	<BreadcrumbItem IsActive="true">
		Badges
	</BreadcrumbItem>
</Breadcrumb>
<div class="space-y-4">
	<TypographyH1>
		Badges
	</TypographyH1>
	<TypographyLead>
		Displays a badge component
	</TypographyLead>
</div>
<div class="pb-12 pt-8">
	<TypographyH2>
		Default
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="DefaultViewer">
		<ComponentPreviewRendered AlpinePropertyName="DefaultViewer">
			<Badge>Badge</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="DefaultViewer">
			<CodeExample>
@($@"<Badge>Badge</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Secondary
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="SecondaryViewer">
		<ComponentPreviewRendered AlpinePropertyName="SecondaryViewer">
			<Badge Variant="BadgeVariant.Secondary">Secondary</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="SecondaryViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Secondary"">Secondary</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Outline
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="OutlineViewer">
		<ComponentPreviewRendered AlpinePropertyName="OutlineViewer">
			<Badge Variant="BadgeVariant.Outline">Outline</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="OutlineViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Outline"">Outline</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Success
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="SuccessViewer">
		<ComponentPreviewRendered AlpinePropertyName="SuccessViewer">
			<Badge Variant="BadgeVariant.Success">Success</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="SuccessViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Success"">Success</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Info
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="InfoViewer">
		<ComponentPreviewRendered AlpinePropertyName="InfoViewer">
			<Badge Variant="BadgeVariant.Info">Info</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="InfoViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Info"">Info</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Warning
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="WarningViewer">
		<ComponentPreviewRendered AlpinePropertyName="WarningViewer">
			<Badge Variant="BadgeVariant.Warning">Warning</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="WarningViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Warning"">Warning</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
	<TypographyH2>
		Destructive
	</TypographyH2>
	<ComponentPreview AlpinePropertyName="DestructiveViewer">
		<ComponentPreviewRendered AlpinePropertyName="DestructiveViewer">
			<Badge Variant="BadgeVariant.Destructive">Destructive</Badge>
		</ComponentPreviewRendered>
		<ComponentPreviewCode AlpinePropertyName="DestructiveViewer">
			<CodeExample>
@($@"<Badge Variant=""BadgeVariant.Destructive"">Destructive</Badge>")
			</CodeExample>
		</ComponentPreviewCode>
	</ComponentPreview>
</div>